/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #826D01;
  --ifm-color-primary-dark: #715C01;
  --ifm-color-primary-darker: #604B00;
  --ifm-color-primary-darkest: #4F3A00;
  --ifm-color-primary-light: #937E12;
  --ifm-color-primary-lighter: #A58F23;
  --ifm-color-primary-lightest: #B6A034;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-menu-color-secondary: lightgrey;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #826D01;
  --ifm-color-primary-dark: #715C01;
  --ifm-color-primary-darker: #604B00;
  --ifm-color-primary-darkest: #4F3A00;
  --ifm-color-primary-light: #937E12;
  --ifm-color-primary-lighter: #A58F23;
  --ifm-color-primary-lightest: #B6A034;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-navbar-background-color: #242526;
  --ifm-footer-background-color: #242526;

  --ifm-menu-color-secondary: #535252;
}

/*
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
*/

/* For secondary sidebar items */
.sidebar .grey-text .menu__link--active,
.sidebar .grey-text .menu__link {
  color: grey !important;
}

.hiddenSidebarItem {
    display: none !important;
}

.footer {
  background-color: #242526;
}

blockquote {
  font-size: large;
}

.sidebar-item--personal .menu__link {
  color: var(--ifm-menu-color-secondary);
}

.sidebar-item--personal button {
  color: var(--ifm-menu-color-secondary);
}